body {
    background-color: red;
}
h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-justify: distribute;
}
p {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align:justify;
}
div {
    display: flex;
    justify-content: center;
}